.navbar {
  background-color: rgb(37, 37, 37);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  padding: 10px;
}

.navbar a {
  text-decoration: none;

}

input {
  font-size: 15px;
  outline: none;
  width: 30%;
    padding: 15px;
    margin: 5px;
    border-radius: 6px;
    border:1px solid #ccc;
    font-family: 'Roboto', sans-serif;
}